
body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: 300;
}

a, button { -webkit-transition: all 0.3s ease; transition: all 0.3s ease; }
a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}

p {	line-height: 2.1; }

.tm-pad-0 { padding: 0; }
.tm-highlight-text {
	font-style: italic;
	color: #338ad9;
}

/********************************************
 * Header header 
 */
.container-fluid { max-width: 1530px; }

.tm-header-gallery {
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-ms-flex-wrap: wrap;
	    -webkit-flex-wrap: wrap;
	        flex-wrap: wrap;
}

.tm-header-img {
	padding: 0 1px 1px 0 !important;
	margin: 0 !important;
	max-width:auto;
	max-height:100%;
}

div.header-rimg-div {
  max-width: 50%;
}
div.header-simg-div {
  max-width: 25%;
}

.tm-site-name {
	position: absolute;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
    -ms-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            flex-direction: column;
    -ms-flex-align: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            align-items: center;
    -ms-flex-pack: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            justify-content: center;
    width: 100%;
    height: 100%;
}

.tm-site-name-h1 { 
	color: #0264cf;
	font-size: 3rem; 
}
.tm-site-name-h2 {
	color: #6c6c6c;
	font-size: 1.4rem;
}


/********************************************
 * Navigation navbar
 */
button.navbar-toggler {
    background-color: #0264cf !important;
}
span.navbar-toggler-icon {
    color: red !important;
}
#trans-div { 
    background-color: rgba(255,255,255,0.75);
    padding-top: 10px;
    padding-left: 3px;
    padding-right: 10px;
    position: relative;
    bottom: 10px;
    left: 10px;
    border-radius: 8px;
}
.navbar-brand-sal { 
   color: #0264cf;
   font-size: 1.1rem; 
   font-weight: 900;
   text-shadow: #ffffff 1px 0 10px;
}
img#nav-spacer-img {
	margin-bottom: 20px;
}

.navbar { padding: 0; }

.navbar-nav .nav-item {
    max-width: 200px;
    width: 50%;
    text-align: center;
    background-color: #cccccc;  
    height: 60px;
    font-size: 1.2rem;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        align-items: center;
    -ms-flex-pack: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

div#nav-container {
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
  width: 100%;
}
/****************************/


.navbar-nav .nav-item.active,
.navbar-nav .nav-item:hover {
	background-color: #999999;
}

.nav-link {
	color: #555555;
	cursor: pointer;
}

.nav-item.active .nav-link,
.nav-item:hover .nav-link {
	color: white;
}

.navbar-nav .nav-item+.nav-item { margin: 0 1px 1px 0; }
.navbar-nav .nav-item {	margin: 0 1px 1px 0; }

.navbar-nav .nav-link {
	padding: 0;
	width: 100%;
    height: 100%;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            align-items: center;
    -ms-flex-pack: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            justify-content: center;
}

button:focus { outline: none; }

/* end bootstrap overwrites */

.tm-row-margin-b { margin-bottom: 50px; }

.tm-content-boxes-row {
	padding-top: 40px;	
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tm-content-box {
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
    -ms-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            flex-direction: column;
	padding: 30px 20px;
}

.tm-content-icon {
	color: #0066cb;
	padding: 30px;
	margin: 0 auto 30px;
	text-align: center;
}

.tm-content-title {
	color: #0066cb;
	font-size: 1.6rem;
	margin-bottom: 25px;
}

.tm-content-box p { margin-bottom: 25px; }



/**********************
 * testimonial 
 */
.testimonial {
	background-color: #0066cb;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-ms-flex-align: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	-ms-flex-flow: column;
	-webkit-flex-flow: column;
	flex-flow: column;
	padding: 40px;
	position: relative;
}

.testimonial-text-box {
	-ms-flex: 1 0 auto;
	-webkit-box-flex: 1;
	-webkit-flex: 1 0 auto;
	flex: 1 0 auto;
	width: 100%;
}

.testimonial-text {
	color: rgba(255,255,255,0.9);
	font-size: 1.4rem;
	font-weight: 300;
	max-width: 680px;
	margin-bottom: 2rem;
	line-height: 1.8;
	-ms-flex: 1 0 auto;
	-webkit-box-flex: 1;
	-webkit-flex: 1 0 auto;
	flex: 1 0 auto;
}

.testimonial-sig {
	color: white;
	font-size: 1.4rem;
	position: static;	
	margin-bottom: 0;
	-ms-flex-item-align: end;
	-webkit-align-self: flex-end;
	align-self: flex-end;
}

.testimonial-img {
	margin-right: 0;
	margin-bottom: 50px;
	max-width: 250px;
	max-height: 250px; /* to fix firefox bug */
	width: 100%;
	height: auto;
}



.tm-about-description {	margin-bottom: 30px; }
.tm-services-description { 
	color: #333;
	margin-bottom: 20px;
	width: 100%;
}
.tm-about-description:last-child,
.tm-services-description:last-child { margin-bottom: 0; }

.tm-about-description-2 {
	padding-top: 25px;
	padding-right: 25px;
}

.tm-about-row-3 {
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-ms-flex-direction: column;
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: normal;
	    -webkit-flex-direction: column;
	        flex-direction: column;
	margin-top: 25px;
}

.tm-about-box-3 {
	height: 100%;
	padding: 30px 25px;	
}

.tm-about-col-3-left { margin-bottom: 30px; }

.tm-about-title {
	line-height: 1.3; 
	font-size: 2.2rem;
	font-weight: 300;
	margin-bottom: 35px;	    
}

.tm-about-title-3 { 
	font-size: 2.1rem;
	font-weight: 300;
	margin-bottom: 15px;
}

.tm-blue-bg { 
	background-color: #06C;
	color: white;
}

.tm-gray-bg { 
	background-color: #EAEAEA;
	color: #333;
}

.tm-blue-bordered {	border: 1px solid #06C; }
.tm-gray-bordered { border: 1px solid #CDCDCD; }
.tm-blue-text { color: #06C; }
.tm-yellow-text { color: #FF0; }
.tm-black-text { color: #000; }
.tm-about-description-2 { margin-bottom: 60px; }
.tm-about-description-3 { font-weight: 300; }
.tm-about-row {	padding: 30px 0px; }
.tm-about-box-left { margin-bottom: 50px; }


/*********************************************/
.tm-services-row {
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-ms-flex-direction: column;
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: normal;
	    -webkit-flex-direction: column;
	        flex-direction: column;
	-ms-flex-align: stretch;
	    -webkit-box-align: stretch;
	    -webkit-align-items: stretch;
	        align-items: stretch;
	margin-top: 80px;	
}

.tm-services-row,
.tm-services-row-2 { margin-bottom: 50px; }

.tm-services-box { padding: 30px 20px; }

.tm-services-title {
	font-size: 1.8rem;
    font-weight: 300;
    margin-bottom: 20px;
}

.tm-services-box {
	background: #F4F4F4;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
    -ms-flex-align: start;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
            align-items: flex-start;
    -ms-flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            justify-content: center;
	width: 100%;  	
}

.tm-services-row-2 {
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-ms-flex-direction: column;
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: normal;
	    -webkit-flex-direction: column;
	        flex-direction: column;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
}

.tm-services-row-2 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.tm-services-col { margin-bottom: 30px; }
.tm-services-col:last-child { margin-bottom: 0; }

.tm-services-col-right {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: stretch;
	-webkit-align-items: stretch;
	    -ms-flex-align: stretch;
	        align-items: stretch;
}


.tm-tab-content-img { max-width: 250px; }

.tm-tab-content-text {
	margin-left: 0;
	margin-top: 30px;
	width: 100%;
}


/****************************************
 * music, albums
 */
div#album-list.accordion {
	max-width: 640px;
}
div#album-list.accordion div.card {
	max-width: 640px;
}
button.album {
  margin: 0;
  padding: 0;
}
div.album.card-header {
  text-align: left;
  width: 100%;
  display: flex;
  align-items: baseline;
}
.album-icon {
  width: 45px;
  height: auto;
  margin: 0;
  flex: 0 1 auto;
}
div.album-title {
  font-size: 1.0rem;
  line-height: 1.5rem;
  height: 3rem;  /*cap title to 2 lines of text*/
  overflow: hidden;
  padding-left: 20px;
  align-self: flex-start;
  white-space: normal;
  min-width: 0;
}
div.album-intro {
  min-width: 40%;
  float: left;
}
img.album-img { 
  display: none; 
  width: 250px; 
  margin: 15px auto;
}
/*
div#album-list blockquote {
  text-align: center;
  font-size: 1rem;
}
*/
ul.album-item {
    line-height: 1.7;
    list-style: none;    
    margin: 0;
    padding: 10px 5px;
}
ul.album-item li {
    padding: 5px 0px;
}
ul.album-item li:before {
    content: "+";
    margin-right: 4px;
}

div.audiojs {
    width: 300px;
}
.audiojs .scrubber {
    background: none repeat scroll 0 0 #5A5A5A;
    border-bottom: 0 none;
    border-left: 0 none;
    border-top: 1px solid #3F3F3F;
    float: left;
    height: 14px;
    margin: 10px;
    overflow: hidden;
    position: relative;
    width: 150px; /* smaller width */
}
.audiojs .time {
    border-left: 1px solid #000000;
    color: #DDDDDD;
    float: left;
    height: 36px;
    line-height: 36px;
    margin: 0; /* no margin */
    padding: 0 6px 0 9px; /* 2px smaller left padding */
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
}
.audiojs {
    font-family: monospace;
    font-size: 10px; /* reduced font size */
}



/********************************************
 * salmar
 */
.salmar-box {
	background-color: #e8e8e8;
	margin: 0 auto;
        padding-top: 20px;
	max-width: 400px;
	height: 100%;
}
.salmar-video {
  max-width: 360;
  max-height: 202.2;
}
.salmar-mb { margin-bottom: 50px; }
.salmar-text-box-outer { 
        padding: 20px 20px; 
        margin-top: 15px;
}
.salmar-title {
	color: #0066CC; 
	font-size: 1.7rem; 
	margin-bottom: 5%;
}
.salmar-description:last-child { margin-bottom: 0; }
.salmar-link {
	display: block;	
	font-size: 1.5rem;
	margin-right: -15px;
	margin-top: 15px;
	text-align: right;
	text-decoration: underline;	
}
.salmar-link,
.salmar-link:hover,
.salmar-link:focus {
	color: #0066CC;
}



/********************************************
 * lsga
 */
.tm-lsga-box-left { margin-bottom: 50px; }

/*
LsGA Triptych
3 images 838w total
 151x235 18.02%
 546x235 65.15%
 141x235 16.82%
2 images 697w total
 546x235 78.33%
 151x235 21.66%
*/
div#lsga-triptych { border-bottom: 5px #202020;}
img#lsga-triptych1 {
	width: 18.02%;
	height: auto;
	float: left;
}
img#lsga-triptych2 {
	width: 65.15%;
	height: auto;
	float: left;
}
img#lsga-triptych3 {
	width: 16.82%;
	height: auto;
	float: left;
}

div#lsga-triptych-text {
	clear: left;
	padding-top: 18px; 
	padding-bottom: 18px; 
	padding-left: 10px; 
	padding-right: 10px; 
	background: #F4F4F4;
}
div#lsga-title-container {
	display: flex;
}
div#lsga-title { 
	float: left;
	text-align: left; 
	line-height: 1.3; 
	margin-bottom: 0px; 
	margin-right: 10px; 
	font-size: 2.2rem;
	font-weight: 300;
}
div#lsga-subtitle { 
	padding-left: 8px;
	padding-top: 10px;
	padding-bottom: 8px;
	font-size: 0.9rem;
	font-weight: 400;
	line-height: 1.2;
}

/* jjm - css styles for LsGA score */
ul#lsga-credits {	
	list-style: square;
	/*font-family: Courier New, Courier, monospace;*/
	margin-left: 8%;
	margin-bottom: 10px;
	font-size: 1rem;
	font-weight: 300;
	line-height: 1.2;
}
ol.lsga-score {
	font-size: 1.0rem;
	line-height: 2.0;
	list-style-type: upper-roman; 
	margin-left: 0%;
	font-weight: 400;
}
ol.lsga-score > lh {
	line-height: 3.0;
}
span.lsga-score {
	font-size: 0.8rem;
	margin-left: 3%;
}



/*********************************************
 * Sal Martirano digital collection SMDC smdc 
 */
div#smdc-faq.accordion {
	max-width: 800px;
}
div#smdc-faq.accordion div.card {
	max-width: 800px;
}
button.smdc {
  margin: 0;
  padding: 0;
}
div.smdc.card-header {
    text-align: left;
    width: 100%;
}
div#smdc-faq blockquote {
  text-align: center;
  font-size: 1rem;
}



/***********************************
 * footer
 */
li.footer-nav {
	font-size: 1.2rem;
	float: left;
	text-align: center;
	list-style: none;
}
p.footer-credit {
	font-size: 0.9rem;
}

.tm-social-link {
    background-color: #0066cb;
    color: white;
    display: inline-block;
    font-size: 1.2em;
    width: 45px;
    height: 45px;
    text-align: center;    
    margin-right: 5px;
    padding-top: 5px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.tm-social-link:hover,
.tm-social-link:focus {
	background-color: #5e9ddb;
	color: white;
}

.tm-social-link:last-child { margin-right: 0; }
.tm-social-icons-container { padding-bottom: 30px; }



/********************************************
 * Media Queries
 * Small devices, 450 and up 
 */
@media (min-width: 350px) {
  .navbar-brand-sal { 
    font-size: 1.2rem; 
  }
}
@media (min-width: 450px) {
  .navbar-brand-sal { 
    font-size: 1.4rem; 
    font-weight: 800;
  }

  ul.album-item {
      padding: 10px 8px;
  }
  div.audiojs {
      width: 400px;
  }
  .audiojs .scrubber {
      width: 250px;
  }

	.tm-social-link {
		font-size: 1.5em;
		width: 50px;
		height: 50px;
		margin-right: 25px;
	}

	.tm-site-name-h1 { font-size: 3.5rem; }
	.tm-about-description { margin-bottom: 50px; }
	.tm-services-description { margin-bottom: 50px; }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
  .navbar-brand-sal { 
    font-size: 1.5rem; 
    font-weight: 700;
  }
  .tm-about-row {	padding: 40px 20px; }
	.tm-about-title { margin-bottom: 55px;	    }

  .album-icon {
  }
  img.album-img {
    display: block; 
    float: right;
  }

  ul.album-item {
      padding: 10px 10px;
  }
  div.audiojs {
      width: 480px;
  }
  .audiojs .scrubber {
      width: 330px;
  }

  li.footer-nav {
    font-size: 1.3rem;
  }
  p.footer-credit {
    font-size: 1.0rem;
  }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
	.tm-site-name-h1 { font-size: 2.5rem; }
	.tm-site-name-h2 { font-size: 1.1rem; }
	#tmNavbar { width: auto; }

	.navbar-nav .nav-item {
		/*height: 60px;
		max-width: 149px; */
		height: auto;
		max-width: auto; 
	}

	.navbar { position: relative; }

	.tm-content-box { padding: 70px 20px 40px; }

	.testimonial-sig {
		right: 40px;
		bottom: 20px;
	}

	.testimonial {	padding: 60px 60px 60px 90px; }
	.tm-social-icons-container { padding-bottom: 50px; }

	.tm-about-row {	padding: 80px 50px 60px; }	
	.tm-about-description-2 { margin-bottom: 80px; }
	.tm-about-row-3 { margin-top: 0; }
	.tm-services-box-3 { padding: 30px 25px; }

	.tm-services-row-2 {
		-ms-flex-direction: row;
		    -webkit-box-orient: horizontal;
		    -webkit-box-direction: normal;
		    -webkit-flex-direction: row;
		        flex-direction: row;
	}

  div.audiojs {
      width: 600px;
  }
  .audiojs .scrubber {
      width: 450px;
  }

	.salmar-text-box-outer { padding: 40px 40px; }
  li.footer-nav {
    font-size: 1.4rem;
  }
  p.footer-credit {
    font-size: 1.1rem;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
	.tm-site-name-h1 { font-size: 3rem; }
	.tm-site-name-h2 { font-size: 1.2rem; }

	.testimonial-sig {
		right: 70px;
		bottom: 50px;
	}	

	.testimonial {	padding: 60px 60px 60px 170px; }
	.tm-content-box { padding: 90px 20px 40px; }
	.tm-social-icons-container { padding-bottom: 80px; }

	.tm-about-row {	padding: 100px 50px 100px; }
	.tm-about-box-left { margin-right: 75px; }
	.tm-lsga-box-left { margin-right: 75px; }

	.tm-services-row {
		-ms-flex-direction: row;
		    -webkit-box-orient: horizontal;
		    -webkit-box-direction: normal;
		    -webkit-flex-direction: row;
		        flex-direction: row;
		margin-top: 100px;
		margin-bottom: 100px;
	}

	.tm-services-row-2 { margin-top: 100px; margin-bottom: 100px; }
	.tm-services-col { margin-bottom: 0; }
	.tm-services-col-left {	padding-right: 0; }
	.tm-services-col-right { padding-left: 0; }
	.tm-services-box { padding: 15px; }
	.tm-services-box-3 { padding: 45px;	}
	.tm-services-title { margin-bottom: 10px; }

	.tm-services-description { 
		line-height: 1.8;
		margin-bottom: 10px; 
	}

	.tm-tab-content-text {
		margin-left: 60px;
		margin-top: 0;
		-webkit-box-flex: 1;
		-webkit-flex: 1;
		    -ms-flex: 1;
		        flex: 1;
	}

	.salmar-mb { margin-bottom: 75px; }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
	.tm-site-name-h1 { font-size: 3.5rem; }
	.tm-site-name-h2 { font-size: 1.4rem; }

	.testimonial-sig {
		right: 70px;
		bottom: 60px;
	}
}



/******************************/
@media (min-width: 641px) {
	.tm-about-row-3 {
		-ms-flex-direction: row;
		    -webkit-box-orient: horizontal;
		    -webkit-box-direction: normal;
		    -webkit-flex-direction: row;
		        flex-direction: row;		
	}

	.tm-about-col-3-left { margin-bottom: 0; }
}

/* IE hacks, fix for IE 10 */
@media screen and (min-width: 641px) and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .tm-about-row-3 {
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
	}
}

@media (min-width: 670px) {
	.testimonial {
		-ms-flex-flow: row;
		    -webkit-flex-flow: row;
		        flex-flow: row;
	}

	.testimonial-img {
		margin-right: 50px;
		margin-bottom: 0;
	}

	.testimonial-sig {
		position: absolute;
		right: 20px;
		bottom: 20px;	
	}

	.testimonial-text-box {
		-ms-flex: 1 0;
		    -webkit-box-flex: 1;
		    -webkit-flex: 1 0;
		        flex: 1 0;	
	}

	.tm-about-box-3 { padding: 50px; }
	.tm-about-title-3 { margin-bottom: 35px; }
}


@media (min-width: 1268px) {	
	.tm-services-box {
	  padding-left: 55px;
          padding-right: 55px;    	
	}
	
	.tm-services-title { margin-bottom: 40px; }
	.tm-services-description { margin-bottom: 50px; }
}
