---
layout: default_squares
---

<div class="tm-about-row">
    <h2 class="tm-about-title">Discography</h2>

<div class="accordion" id="album-list">

{% for album in site.data.music %}
  <div class="album card">
    <button class="album btn btn-link" type="button" data-toggle="collapse" data-target="#album-content-{{forloop.index}}" aria-expanded="false" aria-controls="album-content-{{forloop.index}}">
      <div class="album card-header" id="album-title-{{forloop.index}}">
          <img src="img/{{ album.img }}" alt="Image" class="album-icon img-fluid tm-tab-content-img">
          <div class="album-title">{{album.album}}</div>
      </div>
    </button>
    <div id="album-content-{{forloop.index}}" class="collapse" aria-labelledby="album-title-{{forloop.index}}" data-parent="#album-list">
      <div class="card-body row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 album-intro">
          {{ album.intro }}
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6"> 
          <img src="img/{{ album.img }}" alt="Image" class="album-img img-fluid">
        </div>
        <div class="col-xs-12">
          <ul class="album-item">
            {% for item in album.list %}
            <li> {{ item.title }} {% if item.year %}({{ item.year }}){% endif %}
            <audio src="music/{{ item.filename }}" preload="auto" />
            </li>
            {% endfor %}
          </ul>
        </div>

      </div>
    </div>
  </div>
{% endfor %}
</div> <!-- accordion -->


          
            <div class="row tm-services-row">
                    
                    <div class="tm-services-box">
                        <h2 class="tm-blue-text tm-services-title">List of Compositions</h2>
                            <ul>
                                {% for item in site.data.composition %}
                                <li>{{ item.year}} - <b>{{ item.title }}</b>{% if item.instrument %} for {{ item.instrument }}{% endif %}{% if item.note %}, {{ item.note}}{% endif %}.{% if item.duration %}  ({{ item.duration }}){% endif %}</li><br/>
                                {% endfor %}  
                            </ul>
                    </div>

            </div>


            <div class="row tm-services-row">           
                    <div class="tm-services-box">
                        <h2 class="tm-blue-text tm-services-title">List of Videos</h2>
                            <ul>
                                {% for item in site.data.video %}
                                <li>{{ item.year}} - <b>{{ item.title }}</b>  ({{ item.duration }})</li><br/>
                                {% endfor %}
                            </ul>
                    </div>

            </div>

</div>


